button{
  background-color: red;
  color:white;
  border: solid 5px red;
  border-radius: 10px;
  padding: 5px 5px;
}
button:hover{
  background: rgb(157, 221, 199);
  
  color: black;
  font-size: 20px;


}
