body{
  text-align: center;
  font-size: 10px;
}

button{
  background-color: red;
  padding: 15px 35px;
  color:white;
  font-size: 18px;
  border-radius: 10px;
  border: 0;
  transition: 0.5s;
  cursor: pointer;
}
button:hover{
  background: #262626;
 
}


#form{
  background-color: rgb(121, 121, 204);
  width: 90%;
  padding: 3%;
}
#form label{
  display: block;
  text-align: left;
  /* color: aliceblue; */
  font-size: 20px;
}
#form input[type="submit"]{
  background: red;
  padding: 5px 4%;
  font-size: 15px;
  border-radius: 10px;
 width: 100%;


}

#form input[type="submit"]:hover{
  background: black;
  /* //color: beige; */

 
}

#form input,#form textarea{
  text-align: center;
  padding: 5px 4%;
  width: 90%;

}
